/node_modules
/public/hot
/public/storage
/nbproject
/storage/*.key
/vendor
.env
laravel-echo-server.json
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
config/permission.php
nbproject/private/private.xml
nbproject/private/private.xml
nbproject/private/private.xml
nbproject/private/private.xml
